// GLOBAL
$gutter: 30px;

// GLOBAL COLORS
$white: #fff;
$grey: #31241d;
$black: #000;
$black-opacity: rgba(0, 0, 0, 0.7);
$blue: #14b9d5;
$green: #89ca62;
$dark-bg: #1d2124;
$main-grey: #f2f2f2;
$main-text: #353a3d;
$nets-grey: #f8f8f8;
$nets-color: #a3a3a3;
$footer-links: #5b6469;
$copyright-bg: #1d2124;

// HEADER NETS COLORS
$tw-col: #00acee;
$fb-col: #5d7ab6;
$gg-col: #ed7364;
$in-col: #df2c32;

// FONTS
$sans: "Open Sans";

// IMAGES
$intro-bg: url("../img/bg-1.png");
$ads-bg: url("../img/ads-but.png");
$ads-bg-gr: url("../img/ads-but-gr.png");
